<ActionBar [title]="article.title" class="action-bar">
    <NavigationButton text="Back" android:icon="res://ic_arrow_back" (tap)="back()"></NavigationButton>
</ActionBar>
<ScrollView>
    <StackLayout>
        <Image [src]="article.img"></Image>
        <StackLayout padding="8">
            <Label class="title" [text]="article.title" textWrap="true"></Label>
            <Label class="description" [text]="article.description" textWrap="true"></Label>
            <Label class="author" text="Author: {{ article.author}}" textWrap="true"></Label>
            <Button class="read-more" text="Read More"></Button>
        </StackLayout>
    </StackLayout>
</ScrollView>
       
    

